:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

a{
  cursor: pointer;
  color: #146EB4;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
a:hover,a:active{
  text-decoration: underline;
}


.App {
  text-align: center;
}
.root{
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: auto;
}
.content-area-wrapper{
  display: flex;
  flex-direction: column;
}
body{
  height: 100vh;
  width: 100vw;
  font-family: 'inter';

}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(235 235 235);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9e9e9eb0;
}
ul{
  padding: 0;
  margin: 0;
}
.nav-wrapper{
  color: white;
 background: #1E2640;
 width: 13%;
 gap: 16px;
 padding: 16px 10px;
 flex-direction: column;
}
.nav-group-1{
  flex-direction: column;
  gap: 24px;
}
.nav-group-1{
  flex-basis: 90%;
}
.nav-ul{
  
}
li{
  list-style: none;
  /* background: black; */
}
.navItem{
  cursor: default;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 24px;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.navItem:hover{
  background: #343c53;
}
.company-icon-image {
  display: flex;
  align-items: center;
  gap: 12px;
}
.company-title{
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}
.company-icon-image .rectangle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--black-100);
  border-radius: 4px;
}

.company-icon-image .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}


.company-icon-image .visit-str {
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
  text-decoration: underline;
}

.company-icon-image .image {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
}

.company-icon-image .bold-chevron-down {
  position: relative;
  width: 20px;
  height: 20px;
}

.content-area-wrapper{
  width: 100%;
}

.content-area{
  overflow: auto;
}

.display-flex{
  display: flex;
}

.paymentDashboard-wrapper{
  padding: 32px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.pd-1{
  flex-wrap: wrap;
  justify-content: space-between;
}
.pd-1 span{
  color: #1A181E;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.pd-2{
  display: flex;
align-items: flex-start;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
}
.pd-2 > *{
  flex-grow: 1;
  flex-shrink: 1;
}

.pd-3 span{
  color:  #1A181E;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
}
.card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  align-items: flex-start;
  border-radius:  8px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.cardTitle{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Inter';
  color:  #4D4D4D;
  font-style: normal;
}
.cardVal{
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}


.table-wrapper{
  display: flex;
padding: 12px 12px 24px 12px;
flex-direction: column;
  border-radius:  8px;
background:  #fff;
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
gap: 24px;
}
.table-operation-wrapper{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
}
.table-operation{
  display: flex;
  gap: 12px;
  align-items: center;
  
}
table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
  table-layout: fixed;
  
}
.table-content-wrapper table{
  width: 100%;
  overflow-x: auto;
}
.table-content-wrapper >table >thead >tr >th{
  border-radius: 4px;
  background: #f2f2f2;
  color:  #4D4D4D;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}
.table-content-wrapper > table > tbody > tr > td{
  color: #1A181E;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
border-bottom: 1px solid #e6e6e6;
}
.table-content-wrapper table thead tr th:first-child,.table-content-wrapper table tbody tr td:first-child{
  text-align: start;
}
.table-content-wrapper table thead tr th:last-child,.table-content-wrapper table tbody tr td:last-child{
  text-align: end;
}
.table-content-wrapper table tbody tr td , .table-content-wrapper table thead tr th{
  text-align: center;
}
.table-content-wrapper table thead tr th,.table-content-wrapper table tbody tr td{
  padding: 12px 10px;
}

.dropdown >select{
  padding: 6px 12px;
  border: 1px solid #e8e8e8;
  outline: none;
  background: white;
  font-size: 16px;
  font-weight: 400;
  color: #4D4D4D;
}

.table-search{
  flex-grow: 1;
}
.table-search > * {
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

  padding: 10px 16px;
}
.ml-5{
  margin-left: 5px;
}
.header-table{
  
  align-items: center;
}
.search-icon-tbl{
  border-top: 1px solid #e9e9e9;
border-bottom: 1px solid #e9e9e9;
border-left: 1px solid #e9e9e9;
border-radius: 4px 0px 0px 4px;
}
.search-inp-tbl{
  border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: none;
    padding-left: 0px;
    outline: none;
    border-radius: 0px 4px 4px 0px;
}
.search-inp-tbl::placeholder{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #999999;
}
.br-4{
  border-radius: 4px;
}
.btn-grop-tbl{
  border-radius: 4px;
  border: 1px solid  #d9d9d9;
  background: #ffffff;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.table-pagination-wrapper{
  justify-content: center;
  

}

.alignCenter{
  justify-content: center;
  align-items: center;
}
.button-group{
  gap: 24px;
  flex-wrap: wrap;
}
.movebtn{
  background: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid #d9d9d9;
  color: #4D4D4D;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.prevbt{
  rotate: 180deg;
}
.paginate-group > button {
  background: #fff;
  border:none;
  outline: none;
  border-radius: 4px;
  color: #4D4D4D;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
  
}
.paginate-group{
  gap: 5px;
  flex-wrap: wrap;
}
.paginate-group > .active,.paginate-group> button:hover{
  background: #146EB4;
  color: white;
}
.nav-footer-card{
  padding: 6px 12px;
  gap: 12px;
  background: #353C53;
  border-radius:4px;
}
.icon-card{
  background: #FFFFFF1A;
  padding: 6px;
  border-radius: 4px;
}
.flex-col{
  flex-direction: column;
}
.wallet-bal{
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
opacity: 80%;
}
.wallet-pt{
opacity: 100%;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}